:root {
    --Green500: hsl(158, 36%, 37%);
    --Green700: hsl(158, 42%, 18%);

    --Black: hsl(212, 21%, 14%);
    --Grey: hsl(228, 12%, 48%);
    --Cream: hsl(30, 38%, 92%);
    --White: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--Cream);
    padding: 3%;
}

h1 {
    color: var(--Black);
}

h1, .current-price {
    font-family: Fraunces;
    font-weight: 700;
}

main {
    background-color: var(--White);
    margin: auto;
    width: 98%;
    max-width: 1000px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    font-weight: 500;
    color: var(--Grey);
}

main img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

main .item2 {
    margin: 40px;
}

.item2 .tag {
    text-transform: uppercase;
    letter-spacing: 0.8ch;
}

.prices {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.current-price {
    color: var(--Green500);
    font-weight: 700;
    font-size: xx-large;
    letter-spacing: 0.05ch;
}

.original-price {
    font-weight: 500;
    text-decoration-line: line-through;
    color: grey;
    padding-left: 2ch;

}

.button {
    background-color: var(--Green500);
    color: var(--White);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-weight: 700;
    transition: background-color 0.4s;
}

.button img {
    width: 1rem;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

.button:hover {
    background-color: var(--Green700);
    cursor: pointer;
}

@media screen and (min-width: 600px){
    main{
        flex-direction: row;
        position:fixed;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
    }
    main .item1 img, source {
        border-radius: 15px 0 0 15px;
        height:100%;
        object-fit: cover;
    }
    main .item2 {
        align-items: center;
        margin: auto;
        padding: 40px;
    }
}